* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

body {
  min-height: 450px;
  height: 100vh;
}

nav {
  height: 70px;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

nav .logo {
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 30px;
  font-weight: bold;
}

nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 160px;
}

nav .nav-items li {
  list-style: none;
  padding: 0 30px;
}

nav .nav-items li a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

nav .nav-items li a:hover {
  color: blue;
}

nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  min-width: 18% !important;
  border: 1px solid rgba(155, 155, 155, 0.2);
  border-radius: 36px;
}

nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: black;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}

nav form button {
  padding: 0 15px;
  color: black;
  font-size: 17px;
  background: greenyellow;
  border: none;
  border-radius: 2px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transition: 0.2s all;
}

nav form button:hover {
  background: goldenrod;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: rgb(19, 18, 18);
  cursor: pointer;
  display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}

@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }

  nav .logo {
    flex: 2;
    text-align: center;
    font-size: 22px;
  }

  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    height: 100%;
    left: -100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    display: inline-block;
    transition: left 0.3s ease;
  }

  nav .nav-items.active {
    left: 0px;
  }

  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }

  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s eaase, opacity 0.1s ease;
  }

  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }

  nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 1px solid transparent;
    border-bottom-color: grey;
    margin: -20px 0 0;
  }

  nav form:after {
    position: absolute;
    content: "";
    padding: 2px;
    background: grey;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    height: 60px;
    z-index: -2;
  }

  nav .menu-icon {
    display: block;
  }

  nav .seach-icon,
  nav .menu-icon span {
    display: block;
  }

  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: block;
  }

  nav .cancel-icon.show {
    display: block;
    color: yellow;
  }
}

@media (max-width: 980px) {
}
